<h1>Group edit</h1>
<%= form_for @group, method: :put, url: group_update_path(id1: @group.course_id, id2: @group.id), :html => { :class => "form-horizontal course" } do |f| %>

    <% if @group.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@group.errors.count, "error") %> prohibited this course from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @group.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label :Day, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :day, :class => 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Number_of_students, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tscope, :class => 'form-control' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :teacher, :class => 'control-label' %>
    <div class="controls">
      <select class="form-control">
        <% @teacher.each do |t|%>
          <option value="<%= t.id%>"><%= t.name%></option>
        <% end %>
      </select>
      <select>
                
      </select>

    </div>
  </div>


  <%= f.submit nil, :value => "Save", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            courses_path, :class => 'btn btn-default' %>

<% end %>
